<div class="expander-component">
  <h3>Customize the experience</h3>
  <mat-accordion class="accordion" #xyz>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Style Your Customer Portal </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-content"></div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Setup your tracking page domain</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-content">
        <h4>Add your domain</h4>
        <h5 style="color: gray;">
          By default, customers will be directed to https://acme.eshopbox.com
          when accessing the customer portal. To change, add a domain.
          <a>Learn More</a>
        </h5>
        <button mat-stroked-button class="butt">+Add domain</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Give relavant links to your customers</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-content">
        <h4>Website URL</h4>
      </div>
    </mat-expansion-panel>
    
  </mat-accordion>
</div>
