<div class="expander-component">
  <h3>Customize the experience</h3>

  <mat-accordion class="accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="sycp"></mat-icon>
          <div style="margin: auto 0;">Style Your Customer Portal</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-content">
        <div>
          <div>
            <h4>Upload your brand logo</h4>
            <p>Add a PNG, JPG or GIF. Your image may scale upto 154px X 24px</p>
            <button mat-button>Upload logo</button>

            <div class="preview-container">
              <div class="preview-div">
                <div
                  class="preview-div-header"
                  [style.background-color]="appStyle.background_color"
                >
                  <div
                    style="
                      width: 100%;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <img src="../../assets/img/acme.png" alt="ACME" />
                  </div>
                </div>

                <div class="preview-div-body"></div>
              </div>
            </div>
          </div>

          <br />
          <br />

          <div>
            <h4>Upload your favicon</h4>
            <p>The optimal size for creating a favicon is 16x16 pixels</p>
            <button mat-button>Upload Favicon</button>
            <div>
              <div class="preview-container" style="border: 4px solid #e7e7e7">
                <div
                  class="preview-div"
                  style="
                    background-color: white;
                    border-top-left-radius: 5px;
                    box-shadow: -4px -4px 20px gray;
                  "
                >
                  <div class="preview-tab-container">
                    <div class="dot-container">
                      <span class="dot" style="background: #ed594a"></span>
                      <span class="dot" style="background: #fdd800"></span>
                      <span class="dot" style="background: #5ac05a"></span>
                    </div>
                    <div><img alt="ACME" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />

          <div>
            <h4>Background Color</h4>
            <p>Used behind your team profile and other backgroungs</p>

            <mat-form-field appearance="outline">
              <input matInput type="color" />
            </mat-form-field>

            <div class="preview-container">
              <div class="preview-div">
                <div
                  class="preview-div-header"
                  [style.background-color]="appStyle.background_color"
                >
                  <div
                    style="
                      width: 100%;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <img src="../../assets/img/acme.png" alt="ACME" />
                  </div>
                </div>
                <div class="preview-div-body"></div>
              </div>
            </div>
          </div>

          <br />
          <br />

          <div>
            <h4>Action Color</h4>
            <p>Used in your action buttons</p>

            <mat-form-field appearance="outline">
              <input matInput type="color" />
            </mat-form-field>

            <div
              class="preview-container"
              [style.background-color]="appStyle.background_color"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <button
                [style.background-color]="appStyle.action_color"
                style="
                  color: #e7e7e7;
                  border-radius: 10px;
                  border: none;
                  margin: 0;
                  width: 70%;
                  height: 55%;
                "
                mat-flat-button
              >
                BUTTON
              </button>
            </div>
          </div>

          <div>
            <button mat-button>Save</button>
            <button mat-button style="color: black; border-color: lightgrey">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="sytpd"></mat-icon>
          <div style="margin: auto 0;">Setup your tracking page domain</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-content">
        <div>
          <h4>
            Add your domain
            <mat-icon
              inline="true"
              matTooltip="Rather than registering a new domain name, you can create a subdomain using the domain you already own"
              matTooltipPosition="after"
              >info
            </mat-icon>
          </h4>
          <p>
            By default, customers will be directed to https://acme.eshopbox.com
            when accessing the customer portal. To change, add a domain.
            <a>Learn More</a>
          </p>
          <button mat-button>+ Add domain</button>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="grltyc"></mat-icon>
          <div style="margin: auto 0;">Give relavant links to your customers</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-content">
        <div>
          <h4>Website URL</h4>
          <p>Direct customers to your website from the customer portal</p>

          <div class="form-container">
            <mat-form-field floatLabel="never">
              <input matInput placeholder="https://acme.com" />
            </mat-form-field>
          </div>

          <div></div>

          <h4>Support</h4>
          <p>Provide help and support to your customers at every step</p>

          <div class="form-container">
            <mat-label>
              Support URL
              <mat-icon
                inline="true"
                matTooltip="Include the Help page or FAQ page of your website"
                matTooltipPosition="after"
              >
                info
              </mat-icon>
            </mat-label>
            <br />
            <mat-form-field floatLabel="never">
              <input matInput placeholder="acme.com/help" />
            </mat-form-field>
          </div>

          <div>
            <table cellspacing="0">
              <tr>
                <td>
                  <div class="form-container">
                    <mat-label> Support email </mat-label>
                    <br />
                    <mat-form-field floatLabel="never">
                      <input matInput />
                    </mat-form-field>
                  </div>
                </td>
                <td>
                  <div class="form-container">
                    <mat-label> Support phone number </mat-label>
                    <br />
                    <mat-form-field floatLabel="never">
                      <input matInput />
                    </mat-form-field>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div></div>

          <div>
            <h4>
              Add footer links
              <mat-icon
                inline="true"
                matTooltip="Include your Terms page, Shipping policy, Return policy, Privacy page and more"
                matTooltipPosition="after"
                >info
              </mat-icon>
            </h4>
            <p>
              Allow customers to access important links of your website
              throughthe footer section
            </p>

            <div>
              <table cellspacing="0">
                <tr>
                  <td>
                    <div class="form-container">
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Link name" />
                      </mat-form-field>
                    </div>
                  </td>
                  <td>
                    <div class="form-container">
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="acme.com/return" />
                      </mat-form-field>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <button mat-flat-button style="border: none; margin: 0; padding: 0">
              + Add links
            </button>
            <p>Max. 3 links</p>

            <div>
              <button mat-button>Save</button>
              <button mat-button style="color: black; border-color: lightgrey">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
