<h2 mat-dialog-title style="width: 100%; text-align: left;">
  <mat-icon (click)="cancel()" mat-dialog-close style="float: right; cursor: pointer;">close</mat-icon>
  Unsaved Changes
</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <div style="margin: 25px 0px">
    <p
      style="
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;

        color: #808080;
      "
    >
      You have unsaved changes. Do you want to discard them?
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" style="bottom: 0; margin: 0 0 0 0; padding: 0; min-height: unset;">
  <button
    (click)="cancel()"
    style="
      background: #ffffff;
      border: 1px solid #cfc9c9;
      box-sizing: border-box;
      border-radius: 4px;
    "
    mat-button
    mat-dialog-close
  >
    Cancel
  </button>
  <button (click)="discard()" class="save-button" mat-button mat-dialog-close>
    Discard
  </button>
</mat-dialog-actions>
