<div
  style="
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  "
>
  <h2 mat-dialog-title style="margin: 10px">Preview</h2>
  <mat-icon
    (click)="close()"
    style="position: relative; align-self: flex-end"
    mat-dialog-close
    style="margin: 5px; cursor: pointer; "
    >close</mat-icon
  >
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography" [style.background-color]="appStyle.backgroundColor">
  <div style="text-align: start;" class="modal-preview" [style.background-color]="appStyle.backgroundColor">
    <div *ngIf="notif['exp']" class="notif-body" [style.background-color]="notif.noticeBackgroundColor">
      <p
        *ngIf="notif['message']"
        class="notif-text"
        style="margin: 8px 0; max-width: 90%; word-wrap: break-word; color: #ffffff !important;"
      >
        {{ notif.message }}
      </p>

      <p
        *ngIf="!notif['message']"
        class="notif-text"
        style="margin: 8px 0; max-width: 90%; word-wrap: break-word; color: #ffffff !important;"
      >
        Your message will be displayed here
      </p>
    </div>

    <div>
      <img style="width: 154px" [src]="appStyle.brandLogoUrl" alt="ACME" />
    </div>

    <div class="main-body">
      <div class="order-summary">
        <div class="mobile-container" style="width: 360px" [style.background-color]="appStyle.backgroundColor">
          <div>
            <div
              #productList
              class="body"
              style="
                background: #ffffff;
                border: 1px solid #e0e0e0;
                box-sizing: border-box;
                border-radius: 12px;
                padding: 27px 20px 0px 30px;
              "
            >
              <div style="height: 100%">
                <div class="xtitle" style="margin: 0">Order Summary</div>
                <div class="pre-title" style="margin: 14px 0 16px">
                  You purchased <b>2 items</b> in order <b>BB3648390</b> on <b>2 Oct, 2020</b> for <b>INR 1995</b> via
                  <b>Cash on Delivery</b>
                </div>

                <div
                  style="
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.02em;
                    color: #bdbdbd;
                  "
                >
                  ITEMS IN THIS ORDER
                </div>

                <div
                  style="
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 280px;
                  "
                >
                  <div class="item-list-container">
                    <img class="product-img" style="margin: 0 5px" src="../../assets/img/shippingImg.png" />
                    <div class="mobile-content" style="display: inline-block">
                      Regular Fit Navy Shirt
                    </div>

                    <div class="arrow">
                      <mat-icon style="height: fit-content">keyboard_arrow_right</mat-icon>
                    </div>
                  </div>

                  <div class="item-list-container">
                    <img class="product-img" style="margin: 0 5px" src="../../assets/img/shippingImg2.png" />
                    <div class="mobile-content" style="display: inline-block">
                      Regular Fit Navy Shirt
                    </div>

                    <div class="arrow">
                      <mat-icon style="height: fit-content">keyboard_arrow_right</mat-icon>
                    </div>
                  </div>

                  <div class="item-list-container">
                    <img class="product-img" style="margin: 0 5px" src="../../assets/img/shippingImg3.png" />
                    <div class="mobile-content" style="display: inline-block">
                      Regular Fit Navy Shirt
                    </div>

                    <div class="arrow">
                      <mat-icon style="height: fit-content">keyboard_arrow_right</mat-icon>
                    </div>
                  </div>

                  <div class="item-list-container">
                    <img class="product-img" style="margin: 0 5px" src="../../assets/img/shippingImg2.png" />
                    <div class="mobile-content" style="display: inline-block">
                      Regular Fit Navy Shirt
                    </div>

                    <div class="arrow">
                      <mat-icon style="height: fit-content">keyboard_arrow_right</mat-icon>
                    </div>
                  </div>
                </div>

                <div style="bottom: 0; margin-top: auto; vertical-align: bottom">
                  <div class="xtitle" style="margin: 28px 0 16px">
                    Delivery Details
                  </div>

                  <div
                    style="
                      font-family: 'Work Sans', sans-serif;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 10px;
                      line-height: 12px;
                      letter-spacing: 0.02em;
                      text-transform: uppercase;
                      color: #828282;
                    "
                  >
                    Deepak Khetan
                  </div>

                  <div class="pre-title" style="margin: 6px 0 7px">
                    +91 9999900000 | deepak.khetan@gmail.com
                  </div>
                  <div class="pre-title" style="font-weight: normal; margin: 14px 0 16px">
                    G 55, G block, South city II, Sector 50, Gurgaon Gurugram - 122018
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item-details">
        <div class="mobile-container" style="width: 872px" [style.background-color]="appStyle.backgroundColor">
          <div>
            <div class="body" #productDetails>
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: left;
                  height: 70px;
                "
              >
                <div class="xtitle">Item Details</div>
                <div
                  style="
                    width: 54px;
                    height: 23px;
                    margin-left: auto;
                    margin-right: 32px;
                    font-family: 'Work Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 145%;
                    color: #bdbdbd;
                  "
                >
                  Help?
                </div>
              </div>

              <div
                style="
                  background: #ffffff;
                  border: 1px solid #e0e0e0;
                  box-sizing: border-box;
                  border-radius: 12px;
                  height: 480px;
                "
              >
                <mat-horizontal-stepper class="mobile-stepper" #stepper>
                  <ng-template matStepperIcon="edit">
                    <mat-icon style="height: 24px; width: 24px" svgIcon="shippingSoon"></mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="home">
                    <mat-icon>home</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="form">
                    <mat-icon>format_align_center</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="last">
                    <mat-icon>done_all</mat-icon>
                  </ng-template>

                  <ng-template matStepperIcon="shippingSoon">
                    <mat-icon style="height: 24px; width: 24px" svgIcon="shippingSoon"></mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="inTransit">
                    <mat-icon style="height: 35px; width: 25px" svgIcon="inTransit"></mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="last">
                    <mat-icon>done_all</mat-icon>
                  </ng-template>

                  <mat-step state="shippingSoon">
                    <ng-template matStepLabel>
                      <div class="mobile-stepper-title">Shipping Soon</div>
                      <div class="mobile-stepper-title-desc">
                        Arriving by Sat, 24 Oct
                      </div>
                    </ng-template>
                    <div style="width: 265px;">
                      <div
                        style="
                          margin: 10px 0 0;
                          margin-left: 7px;
                          display: flex;
                          align-items: center;
                          width: 100%;
                          background: #ffffff;
                          border: 1px solid #F6F6F6;
                          box-sizing: border-box;
                          border-radius: 4px 4px 0px 0px;
                          border-width: 1px 1px 0px 1px;
        
                        "
                      >
                        <img style="margin: 5px; border-radius: 4px;" src="../../assets/img/shippingImg.png" />
                        <div style="display: inline-block;">
                          <div class="mobile-content" style="display: block; margin: 8px 0 8px;">
                            Regular Fit Navy Shirt
                          </div>

                          <div class="mobile-content" style="display: block; margin: 8px 0 8px;">
                            ₹ 1000
                          </div>
                        </div>
                      </div>

                      <div
                        class="mobile-content"
                        style="display: block; background: #ffffff;
                      border: 1px solid #F6F6F6;
                      box-sizing: border-box;
                      border-radius: 0px 0px 0px 0px;
                      border-width: 1px 1px 0px 1px;
        
                      padding: 8px;
                      /* Small */
        
                      font-family: 'Work Sans', sans-serif;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 10px;
                      line-height: 145%;
                      /* or 15px */
                      
                      letter-spacing: 0.02em;
                      
                      /* Dark Gray */
                      
                      color: #828282;"
                      >
                        <img
                          style="max-width: 100%; max-height: 100%; margin: 0; margin-bottom: 9px;"
                          src="../../../../assets/img/placed-mobile.svg"
                        />
                        <p
                          style="
                        font-family: 'Work Sans', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 145%;
                        /* or 15px */
                        
                        letter-spacing: 0.02em;
                        
                        /* Dark Gray */
                        
                        color: #828282;"
                        >
                          Your item is ready to be shipped by our courier partner. You will be notified as soon as it is
                          dispatched.
                        </p>
                      </div>

                      <div
                        class="mobile-content"
                        style="display: block; background: #ffffff;
                      border: 1px solid #F6F6F6;
                      box-sizing: border-box;
                      border-radius: 0px 0px 4px 4px;
                      padding: 12px 0;"
                      >
                        <button
                          [style.color]="appStyle.actionColor"
                          style="
                          height: fit-content;
                              pointer-events: none;
                              background-color: white;
                              text-align: inherit;
                              border: none;
                              box-shadow: none;
                        "
                          class="mobile-button"
                          mat-flat-button
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </mat-step>

                  <mat-step state="inTransit">
                    <ng-template matStepLabel>
                      <div class="mobile-stepper-title">In transit</div>
                      <div class="mobile-stepper-title-desc">
                        Arriving by Sat, 24 Oct
                      </div>
                    </ng-template>
                    <div style="display: flex; justify-content: center">
                      <div style="margin: 0 auto; width: 264px;">
                        <div>
                          <div
                            style="
                              margin: 10px 0 0;
                              margin-left: 7px;
                              display: flex;
                              align-items: center;
                              width: 100%;
                              background: #ffffff;
                              border: 1px solid #F6F6F6;
                              box-sizing: border-box;
                              border-radius: 4px 4px 0px 0px;
                              border-width: 1px 1px 0px 1px;
            
                            "
                          >
                            <img style="margin: 5px; border-radius: 4px;" src="../../assets/img/shippingImg.png" />
                            <div style="display: inline-block;">
                              <div class="mobile-content" style="display: block; margin: 8px 0 8px;">
                                Regular Fit Navy Shirt
                              </div>

                              <div class="mobile-content" style="display: block; margin: 8px 0 8px;">
                                ₹ 1000
                              </div>
                            </div>
                          </div>

                          <div
                            class="mobile-content"
                            style="display: block; background: #ffffff;
                          border: 1px solid #F6F6F6;
                          box-sizing: border-box;
                          border-radius: 0px 0px 0px 0px;
            
                          padding: 8px;
                          /* Small */
            
                          font-family: 'Work Sans', sans-serif;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 10px;
                          line-height: 145%;
                          /* or 15px */
                          
                          letter-spacing: 0.02em;
                          
                          /* Dark Gray */
                          
                          color: #828282;"
                          >
                            <img
                              style="max-width: 100%; max-height: 100%; margin: 0 0 9px;"
                              src="../../../../assets/img/shipped-icon.png"
                            />
                            <p
                              style="
                              margin-bottom: 8px;
                            font-family: 'Work Sans', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 145%;
                            /* or 15px */
                            
                            letter-spacing: 0.02em;
                            
                            /* Dark Gray */
                            
                            color: #828282;"
                            >
                              Your item has been picked up by our courier partner. You will be notified as soon as it is
                              out for delivery
                            </p>

                            <div
                              style="
                              margin-bottom: 8px;
                            font-family: 'Work Sans', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 145%;
                            /* or 15px */
                            
                            letter-spacing: 0.02em;
                            
                            /* Dark Gray */
                            
                            color: #828282;"
                            >
                              Courier Name -
                              <div style="display: inline; font-weight: bolder;">Bluedart logistics</div>
                              <br />
                              Tracking number
                              <div style="display: inline; font-weight: bolder;">#xxxxxxx</div>
                            </div>

                            <p
                              style="
                              text-decoration: underline;
                              margin: 8px 0;
                              font-family: Work Sans, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 8px;
            line-height: 145%;
            /* or 12px */
            
            letter-spacing: 0.02em;
            
            /* Dark Gray */
            
            color: #828282;"
                            >
                              See all updates
                            </p>
                          </div>

                          <div
                            class="mobile-content"
                            style="display: block; background: #ffffff;
                          padding: 8px 0;"
                          >
                            <div
                              style="
                            /* Lightest Gray */
                            margin: 12px;
                            
                            background: #F6F6F6;
                            border-radius: 4px;
                            padding: 8px 12px;
                            
            /* Small */
            
            font-family: Work Sans, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 145%;
            /* or 15px */
            
            letter-spacing: 0.02em;
            
            /* Darkest Gray */
            
            color: #4F4F4F;"
                            >
                              Note: Expected delivery date is delayed. We will keep you updated!
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-step>

                  <mat-step state="last">
                    <ng-template matStepLabel>Delivered</ng-template>
                    <p>You are now done.</p>
                    <div></div>
                  </mat-step>
                </mat-horizontal-stepper>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div *ngIf="links.footerLinks.length > 0" class="mobile-footer-links">
        <div *ngIf="links.websiteUrl" class="mobile-footer-url">
          Go to&nbsp;<a class="mobile-footer-url" style="padding: 0; text-decoration: underline;" href="#">{{
            links.websiteUrl
          }}</a>
        </div>
        <div *ngFor="let link of links.footerLinks" class="footer-link">
          {{ link.name }}
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<!--mat-dialog-actions style="bottom: 0" align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions-->
