mat-dialog-content {
    margin: auto;
    max-height: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    background-color: grey;
}

.modal-preview {
    width: 100%;
    height: 90%;
    background-color: #dadeff;
}

.notif-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14B6AC;
    height: 46px;
    width: 100%;
    color: white;
}

.main-body {
    bottom: 0;
}

.mobile-screens {
    display: inline-block;
    height: 100%;
}

.desktop-screen {
    display: inline-block;
}