div.c-portal {
  margin: auto;
  width: 80%;
  padding: 20px;
  justify-content: space-between;
}

div.portal-div {
  display: inline-block;
  width: 60%;
}

div.mobile-div {
  width: fit-content;
  height: 80%;
  position: fixed;
  display: inline-block;
  margin: 0;
  margin-left: 24px;
  margin-top: 118px;
  margin-right: 40px;

  padding: 0;

  overflow: auto;

  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

.mobile-div .mat-button-toggle-group {
  background-color: transparent;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, -20%);
  min-height: 35px;
  height: 38px;
  margin-bottom: 14px;
  margin-top: 14px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 1px;
}

.mobile-div .mat-button-toggle-group .mat-button-toggle:first-of-type {
  border-radius: 4px 0px 0px 4px;
  min-height: 35px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #fa5c5d;
  color: #fa5c5d;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 1px;
}

.mobile-div .mat-button-toggle-group .mat-button-toggle:last-of-type {
  border-radius: 0px 4px 4px 0px;
  min-height: 35px;
  height: 36px;
  background-color: transparent;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 1px;

  color: #808080;
}

.mobile-div .mat-button-toggle-group .mat-button-toggle:active {
  background: #ffffff;
  border: 1px solid #fa5c5d;
  color: #fa5c5d;
  box-sizing: border-box;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;

  min-height: 35px;
  height: 36px;
}

.mobile-div .mat-button-toggle-checked:first-of-type {
  border: 1px solid #fa5c5d;
  color: #fa5c5d;
  background-color: #ffffff;
}

::ng-deep.mobile-div
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 35px;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
