::-webkit-scrollbar {
  width: 8px;
  transform: rotate(-90deg);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;

  width: 10px;
  height: 54px;
  background: #c8c8c8;
  border: 0.5px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
  transform: rotate(-180deg);
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

div.mobile-container {
  font-family: 'Work Sans', sans-serif;
  max-width: 360px;
  max-height: 670px;

  width: 360px;
  height: 670px;

  margin: 0 0 50px;
  overflow: auto;
  border: 3px solid #e7e7e7;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.1);
}

.mobile-container .header {
  font-family: 'Work Sans', sans-serif;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: inherit;
}

.mobile-container .xtitle {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

.mobile-container .pre-title {
  width: 263px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  /* or 15px */

  letter-spacing: 0.02em;

  /* Dark Gray */

  color: #828282;
}

.mobile-container .body {
  font-family: 'Work Sans', sans-serif;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: max-content;
  background-color: #fefefe;
}

.body .note {
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #f6f6f6;
  box-sizing: border-box;
  box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.mobile-notif {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: fit-content;
  left: 0px;
  top: 0px;
  background: #14b6ac;
  text-align: center;
  color: #ffffff;
}

.mobile-container .item-list-container {
  display: flex;
  align-items: center;
  width: 318px;
  height: 87px;
  background: #ffffff;
  border: 1px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 4px 0;
}

.mobile-container .item-list-container:hover {
  background: #f0f0f0;
}

.mobile-container .item-list-container:active {
  background: #e7e7e7;
}

.mobile-container .arrow {
  margin-left: auto;
  margin-right: 10px;
  color: #bdbdbd;
}

.mobile-container .footer {
  font-family: 'Work Sans', sans-serif;

  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: inherit;
}

.mobile-footer-links {
  font-family: 'Work Sans', sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.footer-link {
  margin: 12px 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #828282;
}

.mobile-footer-url {
  bottom: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #828282;
}

.mobile-stepper {
  border-radius: 10px;
  width: 100% !important;
  position: inherit;
}

::ng-deep .mat-stepper-vertical > div {
  position: inherit;
  left: unset;
  top: unset;

  transform: none;
}

.mobile-stepper-title {
  font-family: 'Work Sans', sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #828282;
}

.mobile-stepper-title-desc {
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #828282;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: transparent;

  height: 20px;
  width: 20px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: transparent;
}

.mobile-content {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-left: 7px;
  font-size: 10px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #828282;

  background-color: #ffffff;
}

.mobile-button {
  justify-items: center;
  justify-self: center;
  justify-content: center;
  background-color: #ffffff;
  color: #2ddbd1;

  /* Pre Title */

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Accent */
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 60%;
}

img.product-img {
  border-radius: 4px;

  max-width: 58px;
  max-height: 70px;
  width: 58px;
  height: 70px;
}
