<div
  class="mobile-container"
  [style.background-color]="appStyle.backgroundColor"
>
  <div>
    <div
      *ngIf="notif['show']"
      class="mobile-notif"
      [style.background-color]="appStyle.noticeBackgroundColor"
    >
      <p class="notif-text" style="max-width: 90%; word-wrap: break-word;">{{ notif.message }}</p>
    </div>

    <div class="header">
      <div
        style="
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <img [src]="appStyle.brandLogoUrl" alt="ACME" />
      </div>
    </div>

    <div *ngIf="!productListView" class="body" #productDetails>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: left;
          height: 70px;
        "
      >
        <mat-icon
          style="color: #828282; margin: 30px 16px 30px 32px"
          (click)="productListView = true"
          >keyboard_arrow_left</mat-icon
        >
        <div class="xtitle">Item Details</div>
        <div
          style="
            width: 54px;
            height: 23px;
            margin-left: auto;
            margin-right: 32px;
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 145%;
            color: #bdbdbd;
          "
        >
          Help ?
        </div>
      </div>

      <div
        style="
          background: #ffffff;
          border: 1px solid #e0e0e0;
          box-sizing: border-box;
          border-radius: 10px;
        "
      >
        <mat-vertical-stepper class="mobile-stepper" linear="true" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon style="height: 24px; width: 24px;" svgIcon="shippingSoon"></mat-icon> 
          </ng-template>

          <ng-template matStepperIcon="done">
            <mat-icon style="height: 24px; width: 24px;" svgIcon="shippingSoon"></mat-icon> 
          </ng-template>

          


          <ng-template matStepperIcon="shippingSoon">
            <mat-icon style="height: 24px; width: 24px;" svgIcon="shippingSoon"></mat-icon> 
          </ng-template>
          <ng-template matStepperIcon="inTransit">
            <mat-icon style="height: 35px; width: 25px;" svgIcon="inTransit"></mat-icon> 
          </ng-template>
          
          <mat-step state="shippingSoon">
            <ng-template matStepperIcon="shippingSoon">
              <mat-icon style="height: 24px; width: 24px;" svgIcon="shippingSoon"></mat-icon> 
            </ng-template>
            <ng-template matStepLabel>
              <div class="mobile-stepper-title">Shipping Soon</div>
              <div class="mobile-stepper-title-desc">
                Arriving by Sat, 24 Oct
              </div>
            </ng-template>
            <div>
              <div
                style="
                  margin: 10px 0;
                  display: flex;
                  align-items: center;
                  width: 100%;
                  background: #f6f6f6;
                  border-radius: 4px;
                "
              >
                <img
                  style="margin: 5px"
                  src="../../assets/img/shippingImg.png"
                />
                <div class="mobile-content" style="display: inline-block">
                  Regular Fit Navy Shirt
                </div>
              </div>

              <div class="mobile-content" style="display: block">
                <p>
                  Your item is ready to be shipped by our courier partner. You
                  will be notified as soon as it is dispatched.
                </p>
              </div>

              <button
                [style.background-color]="appStyle.actionColor"
                class="mobile-button"
                mat-flat-button
              >
                Cancel Order
              </button>
            </div>
          </mat-step>

          <mat-step state="inTransit">
            <ng-template matStepLabel>
              <div class="mobile-stepper-title">In transit</div>
              <div class="mobile-stepper-title-desc">
                Arriving by Sat, 24 Oct
              </div>
            </ng-template>
            <div>
              <div
                style="
                  margin: 10px 0px;
                  display: flex;
                  align-items: center;
                  width: 100%;
                  background: #f6f6f6;
                  border-radius: 4px;
                "
              >
                <img
                  style="margin: 5px"
                  src="../../assets/img/shippingImg.png"
                />
                <div class="mobile-content" style="display: inline-block">
                  Regular Fit Navy Shirt
                </div>
              </div>

              <div class="mobile-content" style="display: block">
                <p>
                  Your item has been picked up by our courier partner. You will
                  be notified as soon as it is out for delivery
                </p>
                <p>
                  Your order has been shipped by Bluedart logistics with
                  tracking number #xxxxxxx
                </p>
                <div class="note">
                  <p>
                    Note: Expected delivery date is delayed. We will keep you
                    updated!
                  </p>
                </div>
              </div>
            </div>
          </mat-step>

          <mat-step state="last">
            <ng-template matStepLabel>Delivered</ng-template>
            <p>You are now done.</p>
            <div></div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>

    <div
      *ngIf="productListView"
      #productList
      class="body"
      style="
        background: #ffffff;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 27px 20px 0px 30px;
      "
    >
      <div>
        <div class="xtitle">Order Summary</div>
        <div class="pre-title" style="margin: 14px 0 16px">
          You purchased <b>2 items</b> in order <b>BB3648390</b> on
          <b>2 Oct, 2020</b> for <b>INR 1995</b> via <b>Cash on Delivery</b>
        </div>

        <div
          style="
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.02em;
            color: #bdbdbd;
          "
        >
          ITEMS IN THIS ORDER
        </div>

        <div>
          <div (click)="productListView = false" class="item-list-container">
            <img
              class="product-img"
              style="margin: 0 5px"
              src="../../assets/img/shippingImg.png"
            />
            <div class="mobile-content" style="display: inline-block">
              Regular Fit Navy Shirt
            </div>

            <div class="arrow">
              <mat-icon style="height: fit-content"
                >keyboard_arrow_right</mat-icon
              >
            </div>
          </div>

          <div class="item-list-container">
            <img
              class="product-img"
              style="margin: 0 5px"
              src="../../assets/img/shippingImg2.png"
            />
            <div class="mobile-content" style="display: inline-block">
              Regular Fit Navy Shirt
            </div>

            <div class="arrow">
              <mat-icon style="height: fit-content"
                >keyboard_arrow_right</mat-icon
              >
            </div>
          </div>
        </div>

        <div class="xtitle" style="margin: 28px 0 16px">Delivery Details</div>

        <div
          style="
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #828282;
          "
        >
          Deepak Khetan
        </div>

        <div class="pre-title" style="margin: 14px 0 16px">
          +91 9999900000 | deepak.khetan@gmail.com
        </div>
        <div class="pre-title" style="font-weight: normal; margin: 14px 0 16px">
          G 55, G block, South city II, Sector 50, Gurgaon Gurugram - 122018
        </div>
      </div>
    </div>

    <div class="footer">
      <div *ngIf="links.footerLinks.length > 0" class="mobile-footer-links">
        <div *ngFor="let link of links.footerLinks" class="footer-link">
          {{ link.name }}
        </div>

        <div
          style="
            display: block;
            width: 336px;
            height: 1px;
            background: #e0e0e0;
          "
        ></div>
      </div>

      <div *ngIf="links.websiteUrl" class="mobile-footer-url">
        Go to &nbsp;<a href="#">{{ links.websiteUrl }}</a>
      </div>
    </div>
  </div>
</div>
