::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

div.mobile-container {
  font-family: "Work Sans", sans-serif;
  width: 360px;
  height: 670px;

  background-color: #e7e7e7;
  margin: 0 auto;
  overflow: auto;
}

.mobile-container .header {
  font-family: "Work Sans", sans-serif;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: inherit;
}

.mobile-container .xtitle {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;

  color: #828282;
}

.mobile-container .pre-title {
  width: 263px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 145%;
  /* or 15px */

  letter-spacing: 0.02em;

  /* Dark Gray */

  color: #828282;
}

.mobile-container .body {
  font-family: "Work Sans", sans-serif;

  overflow: auto;
  border-radius: 10px;
  width: 100%;
  height: max-content;
  height: max-content;
  background-color: #fefefe;
}

.body .note {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #f6f6f6;
  box-sizing: border-box;
  box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.mobile-notif {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #14b6ac;
  text-align: center;
  color: #ffffff;
}

.mobile-container .footer {
  font-family: "Work Sans", sans-serif;

  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: inherit;
}

.mobile-footer-links {
  font-family: "Work Sans", sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.footer-link {
  font-family: "Work Sans", sans-serif;

  margin: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #828282;
}

.mobile-footer-url {
  font-family: "Work Sans", sans-serif;

  bottom: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #828282;
}

.mobile-stepper {
  border-radius: 10px;
}

.mobile-stepper-title {
  font-family: "Work Sans", sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #828282;
}

.mobile-stepper-title-desc {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #828282;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: gray;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: gray;
}

.mobile-content {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #828282;
}

.mobile-button {
  justify-items: center;
  justify-self: center;
  justify-content: center;
  color: #ffffff;
  margin: auto;
  width: 80%;
  background-color: #2ddbd1;
  background: #2ddbd1;
  box-shadow: 0px 4px 8px rgba(45, 219, 209, 0.18),
    0px 0px 2px rgba(45, 219, 209, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 60%;
}
