<div class="expander-component">
  <h3 class="component-name">Set your controls</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel
      (opened)="expansions.cancelPolicy = true"
      (closed)="expansions.cancelPolicy = false"
      [expanded]="expansions.cancelPolicy"
      hideToggle
      #cancelPolicy
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="mycp"></mat-icon>
          <div class="exp-title">Manage your cancellation policy</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon style="height: fit-content" *ngIf="!cancelPolicy.expanded"
              >keyboard_arrow_right</mat-icon
            >
            <mat-icon style="height: fit-content" *ngIf="cancelPolicy.expanded"
              >keyboard_arrow_down</mat-icon
            >
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="accordion-content">
        <div>
          <h4 class="topic">
            Customers are able to cancel their order before its marked
            <br />"ready to ship"
          </h4>
          <!--mat-slide-toggle>On</mat-slide-toggle-->

          <br />

          <label class="switch">
            <input
              (change)="(togBtn)"
              type="checkbox"
              checked
              #togBtn
              id="togBtn"
            />
            <div class="slider round"></div>
          </label>

          <br />

          <div *ngIf="togBtn.checked">
            <h4 class="topic">
              Cancellation Reasons
              <mat-icon
                svgIcon="infoicon"
                class="tooltipicon"
                inline="true"
                matTooltip="Info"
                matTooltipPosition="after"
              >
              </mat-icon>
            </h4>
            <p class="description">
              Customers can select one reason from the list when submitting a
              cancellation request
            </p>
            <div>
              <table class="table-container">
                <tbody>
                  <tr *ngFor="let creason of creasons; let i = index">
                    <td>
                      <div class="form-container">
                        <mat-form-field
                          floatLabel="never"
                          style="margin: 0 10px; color: #343434;"
                        >
                          <input
                            [(ngModel)]="creasons[i].reason"
                            matInput
                            placeholder="Reason"
                          />
                        </mat-form-field>
                      </div>
                    </td>

                    <td align="center" valign="center">
                      <mat-icon
                        (click)="deleteRow(creasons, i)"
                        svgIcon="deletebin"
                      ></mat-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <button
                          (click)="addReason(creasons)"
                          mat-flat-button
                          style="color: #FA5C5D; border: none; margin: 0; padding: 0"
                        >
                          + Add reason
                        </button>
                        <p>Max. 10 reasons</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />

            <h4 class="topic">Refund policy on cancellation</h4>
            <p class="description">
              How do you refund customers for cancelling their prepaid order
            </p>

            <div style="display: flex; flex-direction: column">
              <mat-checkbox checked="true">
                <p style="margin: auto 0;">Customers get a refund to their original payment method</p>
              </mat-checkbox>
              <mat-checkbox>
                <p style="margin: auto 0;">Customers get a refund in their desired bank account</p>
              </mat-checkbox>
              <mat-checkbox>
                <p style="margin: auto 0;">Customers get a refund as score credit</p>
              </mat-checkbox>
            </div>
          </div>

          <div style="margin-top: 25px">
            <button class="save-button" mat-button>Save</button>
            <button mat-button>Cancel</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="expansions.returnPolicy = true"
      (closed)="expansions.returnPolicy = false"
      [expanded]="expansions.returnPolicy"
      hideToggle
      #returnPolicy
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="myrp"></mat-icon>
          <div class="exp-title">Manage your return policy</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon style="height: fit-content" *ngIf="!returnPolicy.expanded"
              >keyboard_arrow_right</mat-icon
            >
            <mat-icon style="height: fit-content" *ngIf="returnPolicy.expanded"
              >keyboard_arrow_down</mat-icon
            >
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="accordion-content">
        <div>
          <h4 class="topic">
            Customers will be able to return their purchases as per the return
            window set by you
          </h4>

          <label class="switch">
            <input (change)="(togBtn2)" #togBtn2 type="checkbox" />
            <div class="slider round"></div>
          </label>

          <br />
          <br/>

          <div *ngIf="togBtn2.checked">
            <h5>
              Enter the number of days until when you want to allow returns on
              your product
            </h5>
            <mat-form-field
              style="width: 3rem; margin: 0; margin-right: 10px"
              appearance="outline"
            >
              <input
                matInput
                style="text-align: center"
                placeholder="Days"
                value="5"
              />
            </mat-form-field>
            Days after order is delivered
            <p style="margin: 0">
              Your customers won't be able to place a return after this time
              period.
            </p>
            <br />

            <h4 class="topic">Exclude Certain Products</h4>
            <p class="description">
              Do not allow customers to return specific products
            </p>

            <label class="switch">
              <input (change)="(togBtn3)" #togBtn3 type="checkbox" />
              <div class="slider round"></div>
            </label>

            <br />

            <div *ngIf="togBtn3.checked">
              <p>
                Product must match
                <mat-radio-group class="rad" aria-label="Select an option">
                  <mat-radio-button value="1">All Conditions</mat-radio-button>
                  <mat-radio-button value="2">Any Condition</mat-radio-button>
                </mat-radio-group>
              </p>

              <div>
                <table class="table-container">
                  <tbody>
                    <tr *ngFor="let excon of exconditions; let i = index">
                      <td>
                        <mat-form-field appearance="fill">
                          <mat-label>Condition</mat-label>
                          <mat-select [(ngModel)]="exconditions[i].option">
                            <mat-option> </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>

                      <td>
                        <mat-form-field appearance="fill">
                          <mat-label>Condition</mat-label>
                          <mat-select [(ngModel)]="exconditions[i].condition">
                            <mat-option> </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>

                      <td>
                        <mat-form-field appearance="fill">
                          <mat-label>Condition</mat-label>
                          <mat-select [(ngModel)]="exconditions[i].value">
                            <mat-option> </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>

                      <td>
                        <mat-icon
                          (click)="deleteRow(exconditions, i)"
                          svgIcon="deletebin"
                        ></mat-icon>
                      </td>
                    </tr>
                    <tr>
                      <button
                        (click)="addCondition()"
                        mat-flat-button
                        style="color: #FA5C5D; border: none; margin: 0; padding: 0"
                      >
                        + Add reason
                      </button>
                      <p>Max. 3 reasons</p>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <br />

            <div>
              <h4 class="topic">
                Return reasons
                <mat-icon
                  svgIcon="infoicon"
                  class="tooltipicon"
                  inline="true"
                  matTooltip="Info"
                  matTooltipPosition="after"
                >
                </mat-icon>
              </h4>
              <p class="description">
                Customers can select one reason from the list when submitting a
                return request
              </p>
              <div>
                <table class="table-container">
                  <tbody>
                    <tr *ngFor="let rreason of rreasons; let i = index">
                      <td>
                        <div class="form-container">
                          <mat-form-field
                            floatLabel="never"
                            style="margin: 0 10px; color: #343434;"
                          >
                            <input
                              [(ngModel)]="rreasons[i].reason"
                              matInput
                              placeholder="Reason"
                            />
                          </mat-form-field>
                        </div>
                      </td>

                      <td align="center" valign="center">
                        <mat-icon
                          (click)="deleteRow(rreasons, i)"
                          svgIcon="deletebin"
                        ></mat-icon>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                          <button
                            (click)="addReason(rreasons)"
                            mat-flat-button
                            style="color: #FA5C5D; border: none; margin: 0; padding: 0"
                          >
                            + Add reason
                          </button>
                          <p>Max. 10 reasons</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div>
              <h4 class="topic">Resolution policy for returns</h4>
              <p class="description">
                Give your customers a resolution for returning the order
              </p>
              <div style="display: flex; flex-direction: column">
                <mat-checkbox checked="true">
                  <p style="margin: auto 0;">Customers can receive a refund</p>
                </mat-checkbox>
                <mat-checkbox>
                  <p style="margin: auto 0;">Customers can make an exchange</p>
                </mat-checkbox>
              </div>
            </div>

            <br/>
            <h4 class="topic">Refund policy for returns</h4>
            <br/>


            <div>
              <h5 class="sub-topic">Allow refund against COD orders</h5>
              <br /> <br>

              <label class="switch">
                <input
                  (change)="(codrefund)"
                  #codrefund
                  type="checkbox"
                  id="togBtn"
                />
                <div class="slider round"></div>
              </label>

              <div *ngIf="codrefund.checked">
                <div style="display: flex; flex-direction: column">
                  <mat-checkbox checked="true">
                    <p style="margin: auto 0;">
                      Customers can enter their bank account details to receive
                      a refund
                    </p>
                  </mat-checkbox>
                  <mat-checkbox>
                    <p style="margin: auto 0;">Customers get credit</p>
                  </mat-checkbox>
                </div>
              </div>

              <br /><br/>

            </div>

            <div>
              <h5 class="sub-topic">Allow refund against prepaid orders</h5>
              <br />
              <br />

              <label class="switch">
                <input
                  (change)="(pprefund)"
                  #pprefund
                  type="checkbox"
                  id="togBtn"
                />
                <div class="slider round"></div>
              </label>

              <div *ngIf="pprefund.checked">
                <div style="display: flex; flex-direction: column">
                  <mat-checkbox checked="true">
                    <p style="margin: auto 0;">
                      Customers get a refund to their original payment method
                    </p>
                  </mat-checkbox>
                  <mat-checkbox>
                    <p style="margin: auto 0;">Customers get a refund in their desired bank account</p>
                  </mat-checkbox>
                  <mat-checkbox>
                    <p style="margin: auto 0;">Customers get store credit</p>
                  </mat-checkbox>
                </div>
              </div>

              <br />
            </div>
          </div>

          <div style="margin-top: 25px">
            <button class="save-button" mat-button>Save</button>
            <button mat-button>Cancel</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
