<div class="expander-component">
  <h3 class="component-name">Set your controls</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel
      (opened)="expansions.cancelPolicy = true"
      (closed)="cancel('cancelPolicy', cancellationPolicy)"
      [expanded]="expansions.cancelPolicy"
      hideToggle
      #cancelPolicyExp
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="exp-icon" src="../../../../assets/img/mycp.svg" />
          <!-- <img *ngIf="cancelPolicyExp.expanded" class="exp-icon" src="../../../../assets/img/mycp-open.svg" /> -->
          <!-- <mat-icon class="exp-icon" svgIcon="mycp" *ngIf="!cancelPolicyExp.expanded"></mat-icon>
          <mat-icon class="exp-icon" svgIcon="mycp-open" *ngIf="cancelPolicyExp.expanded"></mat-icon> -->
          <div class="exp-title">Manage your cancellation policy</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon class="indicator-icon" *ngIf="!cancelPolicyExp.expanded">keyboard_arrow_right</mat-icon>
            <mat-icon class="indicator-icon-selected" *ngIf="cancelPolicyExp.expanded">keyboard_arrow_down</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="accordion-content">
        <div>
          <form (ngSubmit)="submitCancelPolicy()" [formGroup]="cancellationPolicy">
            <h4 class="fs-16-lh-24">
              Customers are able to cancel their order before its marked
              <br />"ready to ship"
            </h4>

            <label class="switch">
              <input formControlName="allowCancellation" type="checkbox" checked />
              <div class="slider round"></div>
            </label>
            <div *ngIf="cancellationPolicy.value['allowCancellation']">
              <h4 class="fs-16-lh-19">
                Cancellation Reasons
              </h4>
              <p class="lh-16-fs-12">
                Customers can select one reason from the list when submitting a cancellation request
              </p>
              <div>
                <table class="table-container" formArrayName="cancellationReasons" style="max-width: 495px">
                  <tbody>
                    <tr
                      *ngFor="
                        let creason of getReasons(cancellationPolicy, 'cancellationReasons').controls;
                        let i = index
                      "
                    >
                      <td>
                        <div class="form-container">
                          <mat-form-field floatLabel="never" style="margin: 0; color: #343434; padding: 0">
                            <input [formControlName]="i" matInput placeholder="Enter reason" />
                          </mat-form-field>
                        </div>
                      </td>

                      <td valign="bottom" style="vertical-align: bottom;">
                        <!-- <mat-icon
                          style="margin-left: 8px; height: 11px; width: 10px"
                          (click)="deleteReason(cancellationPolicy, 'cancellationReasons', i)"
                          svgIcon="deletebin"
                        ></mat-icon> -->

                        <img
                          src="../../../../assets/img/deletebin.svg"
                          style="margin-left: 8px; height: 11px; width: 10px"
                          (click)="deleteReason(cancellationPolicy, 'cancellationReasons', i)"
                        />
                      </td>
                    </tr>
                    <tr *ngIf="getReasons(cancellationPolicy, 'cancellationReasons').controls.length < 10">
                      <td>
                        <div
                          style="
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                          "
                        >
                          <button
                            (click)="addReason(cancellationPolicy, 'cancellationReasons')"
                            mat-flat-button
                            class="add-button"
                            type="button"
                          >
                            + Add reason
                          </button>
                          <p class="max-reasons">Max. 10 reasons</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h4 class="fs-16-lh-19">Refund policy on cancellation</h4>
              <p class="lh-16-fs-12">
                How do you refund customers for cancelling their prepaid order
              </p>

              <div
                style="margin-top: 24px; display: flex; flex-direction: column"
                formGroupName="cancellationRefundPolicy"
              >
                <mat-checkbox formControlName="originalPaymentMode" checked="true">
                  <p style="color:#666666;margin: auto 0 ;padding-left: 8px">
                    Customers get a refund to their original payment method
                  </p>
                </mat-checkbox>
                <mat-checkbox formControlName="bank">
                  <p style="color:#666666;margin: auto 0 ; padding-left: 8px">
                    Customers get a refund in their desired bank account
                  </p>
                </mat-checkbox>
                <mat-checkbox formControlName="storeCredit">
                  <p style="color:#666666;margin: auto 0 ; padding-left: 8px">
                    Customers get a refund as score credit
                  </p>
                </mat-checkbox>
              </div>
            </div>

            <div *ngIf="isChanged(cancellationPolicy)" class="save-cancel-container">
              <button class="save-button" mat-button>Save</button>
              <button (click)="cancel('cancelPolicy', cancellationPolicy)" type="button" mat-button>Cancel</button>
            </div>

            <div *ngIf="!isChanged(cancellationPolicy)" class="save-cancel-container">
              <button type="button" (click)="expansions.cancelPolicy = false" class="save-button" mat-button>
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-expansion-panel>
    <!--pre>{{ cancellationPolicy.value | json }}</pre-->

    <mat-expansion-panel
      (opened)="expansions.returnPolicy = true"
      (closed)="cancel('returnPolicy', returnPolicy)"
      [expanded]="expansions.returnPolicy"
      hideToggle
      #returnPolicyExp
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="exp-icon" src="../../../../assets/img/myrp.svg" />
          <!-- <img *ngIf="returnPolicyExp.expanded" class="exp-icon" src="../../../../assets/img/myrp-open.svg" /> -->

          <!-- <mat-icon class="exp-icon" svgIcon="myrp" *ngIf="!returnPolicyExp.expanded"></mat-icon>
          <mat-icon class="exp-icon" svgIcon="myrp-open" *ngIf="returnPolicyExp.expanded"></mat-icon> -->
          <div class="exp-title">Manage your return policy</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon class="indicator-icon" *ngIf="!returnPolicyExp.expanded">keyboard_arrow_right</mat-icon>
            <mat-icon class="indicator-icon-selected" *ngIf="returnPolicyExp.expanded">keyboard_arrow_down</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="accordion-content" style="width: 100%;">
        <div>
          <form [formGroup]="returnPolicy" (ngSubmit)="submitReturnPolicy()">
            <h4 class="fs-16-lh-24">
              Customers will be able to return their purchases as per the <br />
              return window set by you
            </h4>

            <label class="switch">
              <input formControlName="allowReturns" type="checkbox" />
              <div class="slider round"></div>
            </label>

            <div *ngIf="returnPolicy.value['allowReturns']">
              <h4 class="lh-16-fs-14">
                Enter the number of days until when you want to allow returns on your product
              </h4>

              <div style="display: table-row">
                <input
                  matInput
                  formControlName="returnWindowDays"
                  style="
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */

                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 1px;

                    color: #333333;

                    border: 1px solid #cfc9c9;
                    box-sizing: border-box;
                    border-radius: 4px;

                    width: 58px;
                    height: 32px;
                    margin: 0;
                    margin-right: 8px;
                    margin-bottom: 8px;
                  "
                />
                <p style="display: table-cell" class="fs-12-lh-14">
                  Days after order is delivered
                </p>
              </div>

              <p class="lh-20-fs-12">
                Your customers won't be able to place a return after this time period.
              </p>

              <h4 class="fs-16-lh-19" style="margin-bottom: 4px !important">
                Exclude Certain Products
              </h4>
              <p class="fs-12-lh-14" style="color: #808080 !important">
                Do not allow customers to return specific products
              </p>

              <label class="switch">
                <input
                  [checked]="excludeConditions['exludeCertainProducts']"
                  (change)="excludeConditions['exludeCertainProducts'] = togBtn3.checked; returnPolicy.markAsDirty()"
                  #togBtn3
                  type="checkbox"
                />
                <div class="slider round"></div>
              </label>

              <div *ngIf="excludeConditions['exludeCertainProducts']">
                <p
                  class="fs-12-lh-14"
                  style="margin-top: 24px; 
                        color: #808088;
                "
                >
                  Product must match
                  <mat-radio-group
                    #conditionRadio
                    (change)="
                      excludeConditions['productFilterMatchingCriteria'] = $event.value; returnPolicy.markAsDirty()
                    "
                    [value]="excludeConditions['productFilterMatchingCriteria']"
                    class="rad"
                    style="width: fit-content;"
                    aria-label="Select an option"
                  >
                    <mat-radio-button value="All">All Conditions</mat-radio-button>
                    <mat-radio-button value="Any">Any Condition</mat-radio-button>
                  </mat-radio-group>
                </p>

                <div>
                  <table class="table-container" style="max-width: 530px">
                    <tbody>
                      <tr *ngFor="let condition of excludeConditions['filters']; let i = index" class="filter-table">
                        <td style="width: 184px;">
                          <mat-form-field appearance="fill" style="width: 160px; margin: 0 24px 0 0; padding: 0;">
                            <mat-select
                              (selectionChange)="condition['field'] = $event.value; returnPolicy.markAsDirty()"
                              [value]="condition['field']"
                              placeholder="Select Option"
                              panelClass="filter-table-class"
                            >
                              <mat-option value="BRAND">Product Brand</mat-option>
                              <mat-option value="DESCRIPTION">Product Description</mat-option>
                              <mat-option value="VERTICAL">Product Vertical</mat-option>
                              <mat-option value="SKU">Product SKU</mat-option>
                              <mat-option value="EAN">Product EAN</mat-option>
                              <mat-option value="ESIN">Product ESIN</mat-option>
                              <mat-option value="MRP">Product MRP</mat-option>
                              <mat-option value="TYPE">Product Type</mat-option>
                              <mat-option value="DISCOUNT">Discount</mat-option>
                              <mat-option value="SPRICE">Selling Price</mat-option>
                            </mat-select>
                            <mat-error *ngIf="condition['field'] === ''">This field should not be empty</mat-error>
                          </mat-form-field>
                        </td>

                        <td style="width: 184px;">
                          <mat-form-field appearance="fill" style="width: 160px; margin: 0 24px 0 0;">
                            <mat-select
                              (selectionChange)="condition['conditions'] = $event.value; returnPolicy.markAsDirty()"
                              [value]="condition['conditions']"
                              placeholder="Condition"
                              panelClass="filter-table-class"
                            >
                              <mat-option value="IS">Is equal to</mat-option>
                              <mat-option value="ISNT">Is not equal to</mat-option>
                              <mat-option value="GT">Is greater than</mat-option>
                              <mat-option value="LT">Is less than</mat-option>
                              <mat-option value="SW">Starts with</mat-option>
                              <mat-option value="EW">Ends with</mat-option>
                              <mat-option value="CONTAINS">Contains</mat-option>
                              <mat-option value="NTCONTAINS">Does not contain</mat-option>
                            </mat-select>
                            <mat-error *ngIf="condition['conditions'] === ''">This field should not be empty</mat-error>
                          </mat-form-field>
                        </td>

                        <td style="width: fit-content; width: 132px;">
                          <div class="form-container" style="width: fit-content; margin: 0 !important;">
                            <mat-form-field
                              floatLabel="never"
                              style="width: 120px; margin: 0 0 0 0; color: #343434; font-family: Lato;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px !important;
                            line-height: 12px !important;
                            letter-spacing: 0.5px;"
                            >
                              <input
                                style="font-family: Lato;
                              font-style: normal;
                              font-weight: normal;
                              font-size: 12px !important;
                              line-height: 12px !important;
                              letter-spacing: 0.5px;"
                                (input)="condition['value'] = $event.target.value; returnPolicy.markAsDirty()"
                                [value]="condition['value']"
                                matInput
                                placeholder="Value"
                              />
                              <mat-error *ngIf="condition['value'] === ''">This field should not be empty</mat-error>
                            </mat-form-field>
                          </div>
                        </td>

                        <td valign="bottom" style="vertical-align: middle;">
                          <!-- <mat-icon svgIcon="deletebin"></mat-icon>
                          <img src="../../../../assets/img/deletebin.svg"> -->
                          <img
                            *ngIf="excludeConditions['filters'].length > 1"
                            (click)="deleteCondition(i)"
                            src="../../../../assets/img/deletebin.svg"
                            style="height: 11px; width: 10px; vertical-align: bottom;"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div
                            style="
                              display: flex;
                              flex-direction: row;
                              justify-content: space-between;
                            "
                          >
                            <button (click)="addCondition()" mat-flat-button class="add-button" type="button">
                              + Add another condition
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div>
                <h4 class="fs-16-lh-19">
                  Return reasons
                </h4>
                <p class="lh-16-fs-12">
                  Customers can select one reason from the list when submitting a return request
                </p>
                <div>
                  <table formArrayName="returnReasons" class="table-container" style="max-width: 495px">
                    <tbody>
                      <tr *ngFor="let rreason of getReasons(returnPolicy, 'returnReasons').controls; let i = index">
                        <td>
                          <div class="form-container">
                            <mat-form-field floatLabel="never" style="margin: 0; color: #343434">
                              <input [formControlName]="i" matInput placeholder="Reason" />
                            </mat-form-field>
                          </div>
                        </td>

                        <td valign="bottom" style="vertical-align: bottom;">
                          <!-- <mat-icon
                            style="margin-left: 8px; height: 11px; width: 10px"
                            (click)="deleteReason(returnPolicy, 'returnReasons', i)"
                            svgIcon="deletebin"
                          ></mat-icon> -->
                          <img
                            src="../../../../assets/img/deletebin.svg"
                            style="margin-left: 8px; height: 11px; width: 10px"
                            (click)="deleteReason(returnPolicy, 'returnReasons', i)"
                          />
                        </td>
                      </tr>
                      <tr *ngIf="getReasons(returnPolicy, 'returnReasons').controls.length < 10">
                        <td>
                          <div
                            style="
                              display: flex;
                              flex-direction: row;
                              justify-content: space-between;
                            "
                          >
                            <button
                              type="button"
                              (click)="addReason(returnPolicy, 'returnReasons')"
                              mat-flat-button
                              class="add-button"
                            >
                              + Add reason
                            </button>
                            <p class="max-reasons">Max. 10 reasons</p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div formGroupName="returnResolutionPolicy">
                <h4 class="fs-16-lh-19">Resolution policy for returns</h4>
                <p class="lh-16-fs-12">
                  Give your customers a resolution for returning the order
                </p>
                <div
                  style="
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                  "
                >
                  <mat-checkbox
                    formControlName="refund"
                    style="margin-bottom: 8px; vertical-align: middle"
                    checked="true"
                  >
                    <p class="fs-12-lh-12">Customers can receive a refund</p>
                  </mat-checkbox>
                  <mat-checkbox formControlName="exchange" style="margin-bottom: 8px; vertical-align: middle">
                    <p class="fs-12-lh-12">Customers can make an exchange</p>
                  </mat-checkbox>
                </div>
              </div>

              <div>
                <h4 class="fs-16-lh-19">Refund policy for returns</h4>

                <div>
                  <h4 class="lh-17" style="margin: 20px 0 16px">
                    Allow refund against COD orders
                  </h4>

                  <label formGroupName="returnAllowRefundOptions" class="switch">
                    <input formControlName="cod" type="checkbox" />
                    <div class="slider round"></div>
                  </label>

                  <div *ngIf="returnPolicy.value['returnAllowRefundOptions']['cod']">
                    <div formGroupName="returnRefundPolicy" style="display: flex; flex-direction: column">
                      <mat-checkbox
                        formControlName="bank"
                        checked="true"
                        style="margin: 21px 0 8px; vertical-align: middle"
                      >
                        <p class="fs-12-lh-12">
                          Customers can enter their bank account details to receive a refund
                        </p>
                      </mat-checkbox>
                      <mat-checkbox formControlName="storeCredit" style="margin-bottom: 0; vertical-align: middle">
                        <p class="fs-12-lh-12">Customers get credit</p>
                      </mat-checkbox>
                    </div>
                  </div>
                </div>

                <div>
                  <h4 class="lh-17" style="margin: 28px 0 16px">
                    Allow refund against prepaid orders
                  </h4>

                  <label formGroupName="returnAllowRefundOptions" class="switch">
                    <input formControlName="prepaid" type="checkbox" />
                    <div class="slider round"></div>
                  </label>

                  <div *ngIf="returnPolicy.value['returnAllowRefundOptions']['prepaid']">
                    <div style="display: flex; flex-direction: column" formGroupName="returnRefundPolicy">
                      <mat-checkbox
                        formControlName="originalPaymentMode"
                        checked="true"
                        style="margin: 21px 0 8px; vertical-align: middle"
                      >
                        <p class="fs-12-lh-12">
                          Customers get a refund to their original payment method
                        </p>
                      </mat-checkbox>
                      <mat-checkbox formControlName="bank" style="margin-bottom: 8px; vertical-align: middle">
                        <p class="fs-12-lh-12">
                          Customers get a refund in their desired bank account
                        </p>
                      </mat-checkbox>
                      <mat-checkbox formControlName="storeCredit" style="margin-bottom: 0px; vertical-align: middle">
                        <p class="fs-12-lh-12">Customers get store credit</p>
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="isChanged(returnPolicy)" class="save-cancel-container">
              <button class="save-button" mat-button>Save</button>
              <button (click)="cancel('returnPolicy', returnPolicy)" type="button" mat-button>Cancel</button>
            </div>

            <div *ngIf="!isChanged(returnPolicy)" class="save-cancel-container">
              <button type="button" (click)="expansions.returnPolicy = false" class="save-button" mat-button>
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- <pre>{{ excludeConditions | json }}</pre>
    <pre>{{ defaultExcludeConditions | json }}</pre> -->
  </mat-accordion>
</div>
