h2 {
  font-weight: 400;
}

h3 {
  font-weight: 350;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

a {
  color: #e96a60;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


button {
  color: #e96a60;
  border: 1px solid #e96a60;
  border-color: #e96a60;
}


div.expander-component {
  padding: 5px;
}



.accordion .mat-expansion-panel {
  border: 1px solid lightgray;
  box-shadow: none;
  border-radius: 6px;
  margin: 12px 0px;
}

.accordion .mat-expansion-panel:focus-within {
  color: #e96a60;
  border: 1px solid #e96a60;
  box-shadow: 1px 1px 6px lightgray;
}

.accordion .mat-expansion-panel-header {
  padding: 15px 25px;
}

.accordion .mat-expansion-panel-header-title {
  color: inherit;
}

.accordion .mat-expansion-indicator {
  color: inherit;
}




div.accordion-content{
  color: black;
}

.accordion-content p {
  color: gray;
  margin-top: 5px;
}

.accordion-content h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-content h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-content button {
  margin-right: 10px;
  padding: 0px 20px;
}

.accordion-content .mat-icon {
  margin: 4px;
  color: gray;
}

.accordion-content .mat-expansion-panel-header {
  padding: 0px 15px;
}

.accordion-content .mat-slide-toggle {
  margin: 10px auto;
}

.accordion-content .mat-radio-button {
  margin:0px 10px;
}

.form-container {
  margin-right: 20px;
  margin-bottom: 20px;
  color: gray;
}