h2 {
  font-weight: 400;
}

h3 {
  font-weight: 350;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

a {
  color: #fa5c5d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 154px;
  max-height: 24px;
}

button {
  color: #fa5c5d;
  border: 1px solid #fa5c5d;
  border-color: #fa5c5d;
}

div.expander-component {
  padding: 5px;
}

.accordion .mat-expansion-panel {
  border: 1px solid lightgray;
  box-shadow: none;
  border-radius: 6px;
  margin: 12px 0px;
  fill: #343434;
  stroke: #343434;
  stroke-width: 0.9;
}

.accordion .mat-expansion-panel:focus-within {
  color: #fa5c5d;
  border: 1px solid #fa5c5d;
  box-shadow: 1px 1px 6px lightgray;
  fill: #fa5c5d;
  stroke: #fa5c5d;
  stroke-width: 0.9;
}

.accordion .mat-expansion-panel-header {
  padding: 15px 25px;
}

.mat-icon {
  margin-right: 25px;
  height: 34px;
  width: 34px;
}

.iconn {
  margin-right: 25px;
  height: 34px;
  width: 34px;
  fill: inherit;
  stroke: inherit;
}

.accordion .mat-expansion-panel-header-title {
  color: inherit;
}

.accordion .mat-expansion-indicator {
  color: inherit;
}

div.accordion-content {
  color: black;
}

.accordion-content p {
  color: gray;
  margin-top: 5px;
}

.accordion-content h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-content h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-content button {
  margin-right: 10px;
  padding: 0px 20px;
}

.accordion-content .mat-expansion-panel-header {
  padding: 0px 15px;
}

.accordion .mat-expansion-panel-header-description {
  display: flex;
  justify-content: right;
  align-items: center;
}

.accordion .mat-expansion-panel-header-description .indicator {
  position: absolute;
  display: flex;
  align-items: center;
  float: right;
  right: 0;
}





















.accordion-content .logo-picker-div {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  width: max-content;

  background: #ffffff;
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
  border-radius: 4px;
}

.accordion-content .logo-picker-div img.logo-picker-image {
  display: flex;
  padding: 4px;
  align-items: center;
  max-width: 154px;
  max-height: 24px;
}




















.accordion-content .mat-slide-toggle {
  margin: 10px auto;
}

.accordion-content .mat-radio-button {
  margin: 0px 10px;
}

.accordion-content .connected-indicator {
  color: #0ca347;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  background: #e5f9ed;
  border-radius: 13px;
}

.accordion-content .tracking-page-info {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
}

.accordion-content .table-container {
  width: fit-content;
}

.accordion-content .table-container .form-container {
  margin: auto;
}

.accordion-content .table-container .mat-icon {
  width: 18px;
  height: 16px;
  display: table-cell;
}

.color-picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: #ffffff;
  border: 1px solid #cfc9c9;
  padding: 10px;
  border-radius: 4px;
}

.color-picker-container .color-picker {
  width: 25px;
  height: 25px;
  outline: none;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  background-color: transparent;
}

.color-picker-container input {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #334433;
  border: none;
  outline: none;
  padding: 5px;
}

.preview-container {
  position: relative;
  margin: 20px 0px;
  border-radius: 4px;
  background-color: gainsboro;
  height: 100px;
  width: 200px;
  width: max-content;
  min-width: 200px;
}

.preview-container .preview-div {
  height: 80px;
  width: 180px;
  width: max-content;
  min-width: 180px;
  background-color: #e7e7e7;
  position: absolute;
  bottom: 0;
  right: 0;
}

.preview-container .preview-div-header {
  height: 50px;
  width: 100%;
  background-color: inherit;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
}

.preview-container .preview-div-body {
  height: 30px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 6px;
}

.preview-container .preview-div-notif {
  height: 40%;
  width: 100%;
  background-color: black;
  bottom: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-container .preview-tab-container {
  border-top-left-radius: 5px;
  background-color: #e7e7e7;
  width: 100%;
  position: absolute;
  top: 0;
}

.preview-container .dot-container {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #e7e7e7;
  float: left;
  width: 28%;
  padding: 5px;
}

.preview-container .dot {
  margin: 0px 2px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.preview-container .tab-div {
  background-color: white;
  height: 50px;
  display: inline;
}

.form-container {
  margin-right: 20px;
  margin-bottom: 20px;
  color: gray;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bcbbbb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 60px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(25px);
}

.slider:after {
  content: "OFF";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 68%;
  font-size: 9px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: "ON";
  left: 35%;
}

:host ::ng-deep .mat-radio-container {
  height: 13px;
  width: 13px;
}
:host ::ng-deep .mat-radio-outer-circle {
  border: 1px solid #bbbbbb !important;
  height: 13px;
  width: 13px;
}
:host ::ng-deep .mat-radio-inner-circle {
  border-color: black;
  background-color: #fa5c5d !important;

  height: 13px;
  width: 13px;
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple {
  height: 20px; /*double of your required circle radius*/
  width: 20px; /*double of your required circle radius*/
  left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
  top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
}

:host ::ng-deep .mat-checkbox {
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .mat-checkbox .mat-checkbox-frame {
  background: #ffffff;
  border: 1px solid #fa5c5d;
  box-sizing: border-box;
  border-radius: 4px;
}

:host ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  margin-top: 1px;
  margin-left: 1px;
  width: 18px;
  height: 18px;

  background: #ffffff;
  border: 1px solid #fa5c5d;
  box-sizing: border-box;
  border-radius: 4px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #fa5c5d;
}
