<div class="expander-component">
  <h3 class="component-name">Orchestrate your customer messages</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel
      (opened)="expansions.defineChannel = true"
      (closed)="expansions.defineChannel = false"
      [expanded]="expansions.defineChannel"
      hideToggle
      #defineChannel
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="dyccwc"></mat-icon>
          <div class="exp-title">
            Define your communication channel with customers
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon style="height: fit-content;" *ngIf="!defineChannel.expanded">keyboard_arrow_right</mat-icon>
            <mat-icon style="height: fit-content;" *ngIf="defineChannel.expanded">keyboard_arrow_down</mat-icon>
          </div>
        </mat-panel-description>
        
      </mat-expansion-panel-header>
      <div class="accordion-content">
        <form
          novalidate
          [formGroup]="channelFormGroup"
          (ngSubmit)="onSubmit(channelFormGroup)"
        >
          <div>
            <h4 class="topic">
              Email Sender Name
              <mat-icon
              svgIcon="infoicon"
            class="tooltipicon"
                inline="true"
                matTooltip="Use a sender name which is easily recognisable by your customers"
                matTooltipPosition="after"
                >
              </mat-icon>
            </h4>
            <p class="description">Your customers will receive email from this sender name</p>

            <div class="form-container">
              <mat-form-field style="width: 100%;" floatLabel="never">
                <input
                  formControlName="emailsender"
                  matInput
                  placeholder="Acme"
                />
              </mat-form-field>
            </div>

            <div></div>
            <div
              class="preview-container"
              [style.background-color]="appStyle.backgroundcolor"
            ></div>

            <h4 class="topic">
              Send-from email address
              <mat-icon
              svgIcon="infoicon"
            class="tooltipicon"
                inline="true"
                matTooltip="Use an email address which is setup to receive incoming emails"
                matTooltipPosition="after"
                >
              </mat-icon>
            </h4>
            <p class="description">Your customers will receive email from this email address</p>

            <div class="form-container">
              <mat-form-field style="width: 100%;" floatLabel="never">
                <input
                  matInput
                  formControlName="emailaddr"
                  placeholder="care@acme.com"
                />
              </mat-form-field>
            </div>

            <div
              class="preview-container"
              [style.background-color]="appStyle.backgroundcolor"
            >
              <div
                class="preview-div-body"
                style="
                  width: 85%;
                  height: 75%;
                  bottom: 0;
                  right: 0;
                  border-radius: 0;
                  border-top-left-radius: 10px;
                "
              ></div>
            </div>

            <h4 class="topic">SMS sender name</h4>
            <p class="description">Your customers will receive SMS from this sender name</p>

            <h3>ESHOPB</h3>
            <p>Want to customize the sender code? <a>Learn More</a></p>

            <div>
              <button class="save-button" type="submit" mat-button>Save</button>
              <button
                mat-button
                type="button"
                (click)="cancel(channelFormGroup, 'defineChannel')"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel
    (opened)="expansions.custNotifs = true"
      (closed)="expansions.custNotifs = false"
      [expanded]="expansions.custNotifs"
      hideToggle
      #custNotifs>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="mycn"></mat-icon>
          <div class="exp-title">Manage your customer notifications</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon style="height: fit-content;" *ngIf="!custNotifs.expanded">keyboard_arrow_right</mat-icon>
            <mat-icon style="height: fit-content;" *ngIf="custNotifs.expanded">keyboard_arrow_down</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="accordion-content">
        <div>
          <p class="description" style="font-size: 14px;">
            You can choose to send notifications to customers via Email and SMS
          </p>
          <mat-accordion class="accordion">
            <mat-expansion-panel hideToggle #orders>
              <mat-expansion-panel-header style="height: 49px;">
                <mat-panel-title>Orders</mat-panel-title>
                <mat-panel-description>
                  <div class="indicator">
                    <mat-icon style="height: fit-content; margin-right: 20px;" *ngIf="!orders.expanded">keyboard_arrow_right</mat-icon>
                    <mat-icon style="height: fit-content; margin-right: 20px;" *ngIf="orders.expanded">keyboard_arrow_down</mat-icon>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="accordion-content">
                <table class="table-container">
                  <tbody>
                    <tr *ngFor="let notif of orderNotifs; let i = index">
                      <td>
                        <div>
                          <p>{{ orderNotifs[i].condition }}</p>
                        </div>
                      </td>

                      <td>
                        <div style="display: flex; align-items: center">
                          <mat-icon
                            (click)="showDialog()"
                            svgIcon="eyecon"
                          ></mat-icon>
                        </div>
                      </td>

                      <td>
                        <mat-checkbox>
                          <p style="margin: 0">Email</p>
                        </mat-checkbox>
                      </td>

                      <td>
                        <mat-checkbox>
                          <p style="margin: 0">SMS</p>
                        </mat-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle #returns>
              <mat-expansion-panel-header style="height: 49px;">
                <mat-panel-title>Returns</mat-panel-title>
                <mat-panel-description>
                  <div class="indicator">
                    <mat-icon style="height: fit-content; margin-right: 20px;" *ngIf="!returns.expanded">keyboard_arrow_right</mat-icon>
                    <mat-icon style="height: fit-content; margin-right: 20px;" *ngIf="returns.expanded">keyboard_arrow_down</mat-icon>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="accordion-content">
                <table class="table-container">
                  <tbody>
                    <tr *ngFor="let notif of returnNotifs; let i = index">
                      <td>
                        <div>
                          <p>{{ returnNotifs[i].condition }}</p>
                        </div>
                      </td>

                      <td>
                        <div style="display: flex; align-items: center">
                          <mat-icon
                            (click)="showDialog()"
                            svgIcon="eyecon"
                          ></mat-icon>
                        </div>
                      </td>

                      <td>
                        <mat-checkbox>
                          <p style="margin: 0">Email</p>
                        </mat-checkbox>
                      </td>

                      <td>
                        <mat-checkbox>
                          <p style="margin: 0">SMS</p>
                        </mat-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle #refunds>
              <mat-expansion-panel-header style="height: 49px;">
                <mat-panel-title>Refunds</mat-panel-title>
                <mat-panel-description>
                  <div class="indicator">
                    <mat-icon style="height: fit-content; margin-right: 20px;" *ngIf="!refunds.expanded">keyboard_arrow_right</mat-icon>
                    <mat-icon style="height: fit-content; margin-right: 20px;" *ngIf="refunds.expanded">keyboard_arrow_down</mat-icon>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="accordion-content">
                <table class="table-container">
                  <tbody>
                    <tr *ngFor="let notif of refundNotifs; let i = index">
                      <td>
                        <div>
                          <p>{{ refundNotifs[i].condition }}</p>
                        </div>
                      </td>

                      <td>
                        <div style="display: flex; align-items: center">
                          <mat-icon
                            (click)="showDialog()"
                            svgIcon="eyecon"
                          ></mat-icon>
                        </div>
                      </td>

                      <td>
                        <mat-checkbox>
                          <p style="margin: 0">Email</p>
                        </mat-checkbox>
                      </td>

                      <td>
                        <mat-checkbox>
                          <p style="margin: 0">SMS</p>
                        </mat-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <div>
            <button class="save-button" mat-button>Save</button>
            <button
              mat-button
              (click)="cancel(channelFormGroup, expansions.defineChannel)"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!--pre>{{ channelFormGroup.value | json }}</pre-->
</div>
