<div class="expander-component">
  <h3 class="component-name">Manage the unexpected</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel
      (opened)="expansions.displayNotice = true"
      (closed)="expansions.displayNotice = false"
      [expanded]="expansions.displayNotice"
      hideToggle
      #displayNotice
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="danoycp" *ngIf="!displayNotice.expanded"></mat-icon>
          <mat-icon class="exp-icon" svgIcon="danoycp-open" *ngIf="displayNotice.expanded"></mat-icon>
          <div class="exp-title">Display a notice on your customer portal</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon class="indicator-icon" *ngIf="!displayNotice.expanded"
              >keyboard_arrow_right</mat-icon
            >
            <mat-icon
              class="indicator-icon-selected"
              *ngIf="displayNotice.expanded"
              >keyboard_arrow_down</mat-icon
            >
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="accordion-content">
        <div>
          <h4 class="fs-16-lh-24">
            Notify your customers with important updates when they access <br />
            the portal
          </h4>

          <label class="switch">
            <input
              (change)="(togBtn1)"
              (input)="notif['show'] = togBtn1.checked"
              #togBtn1
              type="checkbox"
              id="togBtn"
            />
            <div class="slider round"></div>
          </label>

          <div *ngIf="togBtn1.checked">
            <h4 class="fs-16-lh-16" style="margin: 24px 0 8px">Message</h4>

            <div class="form-container" style="max-width: 542px">
              <mat-form-field floatLabel="never" style="margin-top: 10px">
                <input
                  (input)="notif['message'] = notifInput.value"
                  #notifInput
                  matInput
                  placeholder="Your messase will be"
                />
              </mat-form-field>
            </div>

            <div
              class="preview-container"
              style="max-width: 542px; width: 542px; padding: 10px 10px 0"
            >
              <div
                style="height: 100%; width: 519px"
                [style.background-color]="appStyle.backgroundColor"
              >
                <div
                  class="preview-div-notif"
                  [style.background-color]="appStyle.noticeBackgroundColor"
                >
                  <p class="notif-text">
                    {{ notif.message }}
                  </p>
                </div>
              </div>
            </div>

            <h4 class="lh-22">Background Color</h4>
            <p class="lh-20-fs-12" style="margin-bottom: 15px">
              Customize the snackbar background color
            </p>

            <div class="color-picker-container">
              <input
                class="color-picker"
                type="color"
                [value]="appStyle.noticeBackgroundColor"
                (input)="
                  changeNotifColor($event.target.value, 'noticeBackgroundColor')
                "
              />
              <input
                style="width: 90px"
                [(ngModel)]="appStyle.noticeBackgroundColor"
                type="text"
              />
            </div>

            <div *ngIf="false" class="save-cancel-container">
              <button class="save-button" mat-button>Save</button>
              <button mat-button>Cancel</button>
            </div>
          </div>

          <div class="save-cancel-container">
            <button class="save-button" mat-button>Close</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <!--pre>{{appStyle | json}}</pre-->

    <mat-expansion-panel
      (opened)="expansions.showMessage = true"
      (closed)="expansions.showMessage = false"
      [expanded]="expansions.showMessage"
      hideToggle
      #showMessage
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="scam" *ngIf="!showMessage.expanded"></mat-icon>
          <mat-icon class="exp-icon" svgIcon="scam-open" *ngIf="showMessage.expanded"></mat-icon>
          <div class="exp-title">
            Show customers a message when there is a delay in delivery or a
            pickup
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon class="indicator-icon" *ngIf="!showMessage.expanded"
              >keyboard_arrow_right</mat-icon
            >
            <mat-icon
              class="indicator-icon-selected"
              *ngIf="showMessage.expanded"
              >keyboard_arrow_down</mat-icon
            >
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="accordion-content">
        <div>
          <label class="switch">
            <input
              checked="true"
              (change)="(togBtn2)"
              #togBtn2
              type="checkbox"
              id="togBtn2"
            />
            <div class="slider round"></div>
          </label>

          <div *ngIf="togBtn2.checked">
            <h4 class="fs-16-lh-19" style="margin: 20px 0 8px">Message</h4>

            <div class="form-container" style="width: 537px">
              <mat-form-field
                style="width: 100%"
                floatLabel="never"
                style="margin-top: 10px; width: 100%"
              >
                <input matInput placeholder="Your messase will be" />
              </mat-form-field>
            </div>

            <div
              style="
                width: 536px;
                height: 71px;
                background: #ebebeb;
                border: 1px solid #ebebeb;
                box-sizing: border-box;
                border-radius: 6px;
              "
            >
              <div class="note">
                <p class="note">
                  Note: Expected delivery date is delayed. <br> We will keep you
                  updated!
                </p>
              </div>
            </div>

            <div *ngIf="false" class="save-cancel-container">
              <button class="save-button" mat-button>Save</button>
              <button mat-button>Cancel</button>
            </div>
          </div>

          <div class="save-cancel-container">
            <button class="save-button" mat-button>Close</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div style="padding: 5px"></div>

  <h3 class="component-name">Connect your customer portal with Apps</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel #appStore hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="etas" *ngIf="!appStore.expanded"></mat-icon>
          <mat-icon class="exp-icon" svgIcon="etas-open" *ngIf="appStore.expanded"></mat-icon>
          <div class="exp-title">Explore the App Store -></div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon class="indicator-icon" *ngIf="!appStore.expanded"
              >keyboard_arrow_right</mat-icon
            >
            <mat-icon class="indicator-icon-selected" *ngIf="appStore.expanded"
              >keyboard_arrow_down</mat-icon
            >
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="accordion-content"></div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
