<div class="expander-component">
  <h3 class="component-name">Manage the unexpected</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel
    (opened)="expansions.displayNotice = true"
      (closed)="expansions.displayNotice = false"
      [expanded]="expansions.displayNotice"
      hideToggle
      #displayNotice>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="danoycp"></mat-icon>
          <div class="exp-title">
            Display a notice on your customer portal
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon style="height: fit-content;" *ngIf="!displayNotice.expanded">keyboard_arrow_right</mat-icon>
            <mat-icon style="height: fit-content;" *ngIf="displayNotice.expanded">keyboard_arrow_down</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="accordion-content">
        <div>
          <h4>
            Notify your customers with important updates when they access the
            portal
          </h4>

          <br />
          <label class="switch">
            <input (change)="togBtn1" (input)="notif['show'] = togBtn1.checked" #togBtn1 type="checkbox" id="togBtn" />
            <div class="slider round"></div>
          </label>
          <br />

          <div *ngIf="togBtn1.checked">
            <h4 class="topic">Message</h4>

            <div class="form-container">
              <mat-form-field floatLabel="never" style="margin-top: 10px; width: 100%;">
                <input (input)="notif['message'] = notifInput.value" #notifInput matInput placeholder="Your messase will be" />
              </mat-form-field>
            </div>

            <div
              class="preview-container"
              style="width: 80%; padding: 10px 10px 0"
            >
              <div
                style="height: 100%"
                [style.background-color]="appStyle.backgroundColor"
              >
                <div
                  class="preview-div-notif"
                  [style.background-color]="appStyle.noticeBackgroundColor"
                >{{notif.message}}</div>
              </div>
            </div>

            <h4 class="topic">Background Color</h4>
            <p>Customize the snackbar background color</p>

            <div class="color-picker-container">
              <input
                class="color-picker"
                type="color"
                [value]="appStyle.noticeBackgroundColor"
                (input)="changeNotifColor($event.target.value, 'noticeBackgroundColor')"
              />
              <input [(ngModel)]="appStyle.noticeBackgroundColor" type="text" />
            </div>

            <div *ngIf="false">
              <button class="save-button" mat-button>Save</button>
              <button mat-button>
                Cancel
              </button>
            </div>
          </div>

          <div>
            <br>
            <br>
            <button class="save-button" mat-button>Close</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

  <pre>{{appStyle | json}}</pre>


    <mat-expansion-panel (opened)="expansions.showMessage = true"
    (closed)="expansions.showMessage = false"
    [expanded]="expansions.showMessage"
    hideToggle
    #showMessage>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="scam"></mat-icon>
          <div class="exp-title">
            Show customers a message when there is a delay in delivery or a
            pickup
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon style="height: fit-content;" *ngIf="!showMessage.expanded">keyboard_arrow_right</mat-icon>
            <mat-icon style="height: fit-content;" *ngIf="showMessage.expanded">keyboard_arrow_down</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="accordion-content">
        <div>

          <label class="switch">
            <input checked="true" (change)="togBtn2" #togBtn2 type="checkbox" id="togBtn2" />
            <div class="slider round"></div>
          </label>

          <br />

          <div *ngIf="togBtn2.checked">
            <h4 class="topic">Message</h4>

            <div class="form-container">
              <mat-form-field style="width: 100%;" floatLabel="never" style="margin-top: 10px; width: 100%;">
                <input matInput placeholder="Your messase will be" />
              </mat-form-field>
            </div>

            <div class="preview-container" style="width: 80%"></div>

            <div *ngIf="false">
              <button class="save-button" mat-button>Save</button>
              <button mat-button>
                Cancel
              </button>
            </div>
          </div>

          <div>
            <br>
            <br>
            <button class="save-button" mat-button>Close</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div style="padding: 10px"></div>

  <h3 class="component-name">Connect your customer portal with Apps</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel #appStore hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="exp-icon" svgIcon="etas"></mat-icon>
          <div class="exp-title">Explore the App Store -></div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="indicator">
            <mat-icon style="height: fit-content;" *ngIf="!appStore.expanded">keyboard_arrow_right</mat-icon>
            <mat-icon style="height: fit-content;" *ngIf="appStore.expanded">keyboard_arrow_down</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="accordion-content"></div>
    </mat-expansion-panel>
  </mat-accordion>


</div>
