<div class="expander-component">
  <h3>Manage the unexpected</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="danoycp"></mat-icon>
          <div style="margin: auto 0">
            Display a notice on your customer portal
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="accordion-content">
        <div>
          <h4>
            Notify your customers with important updates when they access the
            portal
          </h4>

          <br />
          <label class="switch">
            <input type="checkbox" id="togBtn" />
            <div class="slider round"></div>
          </label>
          <br />

          <div>
            <h4>Message</h4>

            <div class="form-container">
              <mat-form-field floatLabel="never" style="margin-top: 10px">
                <input matInput placeholder="Your messase will be" />
              </mat-form-field>
            </div>

            <div
              class="preview-container"
              style="width: 80%; padding: 10px 10px 0"
            >
              <div
                style="height: 100%"
                [style.background-color]="appStyle.background_color"
              >
                <div
                  class="preview-div-notif"
                  [style.background-color]="appStyle.notif_color"
                ></div>
              </div>
            </div>

            <h4>Background Color</h4>
            <p>Customize the snackbar background color</p>

            <div class="color-picker-container">
              <input
                class="color-picker"
                type="color"
                [value]="appStyle.notif_color"
                (input)="changeNotifColor($event.target.value, 'notif_color')"
              />
              <input [(ngModel)]="appStyle.notif_color" type="text" />
            </div>

            <div>
              <button mat-button>Save</button>
              <button mat-button style="color: black; border-color: lightgrey">
                Cancel
              </button>
            </div>
          </div>

          <button mat-button>Close</button>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="scam"></mat-icon>
          <div style="margin: auto 0">
            Show customers a message when there is a delay in delivery or a
            pickup
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="accordion-content">
        <div>
          <br />

          <label class="switch">
            <input type="checkbox" id="togBtn" />
            <div class="slider round"></div>
          </label>

          <br />

          <div>
            <h4>Message</h4>

            <div class="form-container">
              <mat-form-field floatLabel="never" style="margin-top: 10px">
                <input matInput placeholder="Your messase will be" />
              </mat-form-field>
            </div>

            <div class="preview-container" style="width: 80%"></div>

            <div>
              <button mat-button>Save</button>
              <button mat-button style="color: black; border-color: lightgrey">
                Cancel
              </button>
            </div>
          </div>

          <button mat-button>Close</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div style="padding: 10px"></div>

  <h3>Connect your customer portal with Apps</h3>
  <mat-accordion class="accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="etas"></mat-icon>
          <div style="margin: auto 0">Explore the App Store -></div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="accordion-content"></div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
